html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a{ text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
p{
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
	
}

.nav-item a{
	color: black!important;
	font-weight: bold;
}  
/********* Service offer Starts ********/
.serviceoffers{
	background: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px;	
}

.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.name h1{
	color: #2e2e2e;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;

}
.service-icons{
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress{
	height: 0.9rem!important;
	margin-bottom: 30px!important;

}
/********* Service offer Ends ********/

/**************projects done so far **************/
.project-done{
	margin: 100px 0;
}

.project-done h1{
	font-size: 2rem;
	text-align: center;
}
/**************projects done so far: Ends Here!! **************/

/**************newsletter starts Here!! **************/
.newsletter{
	width: 100%;
	height: auto;
	margin: 80px auto;

}
.news-input{
	border-radius: 100px 0px 0px 100px!important;
	min-width: 150px;
	min-height: 45px;

}
.input-group-text{
	color: #fff!important;
	background: #5bc0de!important;
	border-radius: 0 100px 100px 0!important;
	min-width: 120px; 
	min-height: 40px;
}

/**************newsletter ends Here!! **************/

/**************footer starts Here!! **************/
.footersec{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background: #00abff;
	position: relative;
}
.footersec p{
	color: #fff;
}
.footersec li a{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: bold;
	color: #fff;
	text-transform: capitalize;

}
.footersec h3{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.3rem!important;
	font-weight: bold;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#myBtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	color: #fff;
	z-index: 99;
	border: none;
	background-color: #00abff;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background: #606060;
}

/******@media queries*****/
@media(max-width: 760px){
	.nav-item{
		text-align: center!important;
	}
	.Priceoffers, .team-members, .contactforms{
		height: auto;
		margin-top: 50px;
	}
	.card-second{
		transform: translateY(0px);
		margin: 30px 0;
	}
	.contactforms p{
		padding: 0 50px;
	}
	.footerdiv:nth-child(2){
		text-align: left!important;
	}
	.footerdiv{
		margin: 20px;
	}
	
}
